autopep8
beautifulsoup4
boto3
dash
django
flask
flickrapi
folium
jupyter
keras
lxml
matplotlib
mesa
mip
nltk
opencv-python
openpyxl
openrouteservice
pandas
pathlib
Pillow
plotly
psycopg2-binary
pulp
pyautogui
pycodestyle
pycoingecko
pygame
pykafka
pylint
PyPDF2
pytesseract
requests
scikit-learn
seaborn
selenium
sqlalchemy
sqlalchemy<2.0
statsmodels
ta
tabulate
tensorflow
webdriver-manager
xlwt
xlwt
yfinance
